NEXT_PUBLIC_STRATEGY_ENGINE_ADDRESS=0x3c222fd1DD7db9ac9AB333CF0345663fEddb0D35
NEXT_PUBLIC_SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/yqGJv6gIWAwRHzyNlwVQj
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/yqGJv6gIWAwRHzyNlwVQj
SEPOLIA_RPC_URL=https://eth-sepolia.public.blastapi.io
PRIVATE_KEY=0x897cdf29055d5c99dca36ce0adfd8d6b6be924595a5009f02480cbf14728b626
MNEMONIC=
INFURA_API_KEY=
